<h1>User data </h1>


<div data-sly-use.model="com.adobe.aem.guides.wknd.core.models.UserDetail">
<br>
==============================================================================
    <br>
    Firstname : ${model.firstname}<br>
==============================================================================
    <br>Lastname : ${model.lastname}<br>
==============================================================================
<br>    Age : ${model.age}<br>
==============================================================================
   <br> Colour: ${model.favcolour}<br>
==============================================================================
   <br>   <ul data-sly-list.item="${model.mobile}"> </ul>
    <li>Mobile No : ${item.mobileno} </li><br>
=============================================================================

    </ul>
</div>





