<sly data-sly-use.model="com.adobe.aem.guides.wknd.core.models.LinkComponentModel">
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test="${model.title}" class="cmp-title">
 <h1 data-sly-test="${model.title}"> ${model.title}</h1>
 
 <h1 data-sly-test="${model.currentPageTitle}">${model.currentPageTitle}</h1>
 
 <h1 data-sly-test="${model.withdrawVal}">${model.withdrawVal}</h1>
 
 <h1 data-sly-test="${model.depositVal}">${model.depositVal}</h1>
 
 
 
<h1 >SectionOne</h1>

<ul data-sly-list.list="${model.sectionOne}">  
      
     <h1> <li> <a  href="${list.linkPath}" target="${list.dropDown}"> ${list.linkLable}</a> </li></h1>  
      
</ul>

 
<h1 >SectionTwo</h1>

<ul data-sly-list.list="${model.sectionTwo}">  
      
     <h1> <li> <a  href="${list.linkPath}" target="${list.dropDown}"> ${list.linkLable}</a> </li></h1>  
      
</ul>




<h1 >SectionThree</h1>

  
<ul data-sly-list.list="${model.sectionThree}">  
      
     <h1> <li> <a  href="${list.linkPath}" target="${list.dropDown}"> ${list.linkLable}</a> </li></h1>  
      
  </ul>
 
   
</sly>


<sly data-sly-test="${!model.title}">
<sly data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"></sly>

</sly>
</sly>